syntax on
set tabstop=2
set incsearch
set ignorecase
set mouse-=a                                        " disable mouse support
set shiftwidth=2                                    " indent width
set expandtab                                       " insert spaces instead of tabs
set hlsearch                                        " highlight search pattern
filetype plugin indent on                           " auto-detect file types
set shell=/bin/bash                                 " shell for :sh command
set pastetoggle=<F2>                                " toggle paste mode in insert mode
set showcmd                                         " show commands
set showmode                                        " show current mode
set ruler                                           " show cursor position
set bs=indent,eol,start                             " allow backspace in insert mode
set history=10000                                   " command history size
set autoread                                        " detect external file changes

"### CURSORLINE SETTINGS ###
set cursorline
hi cursorline cterm=NONE ctermbg=8 ctermfg=15
"### END CURSORLINE SETTINGS ###
set background=dark                                 " dark background

nnoremap <silent> <Space> :silent nohl<Bar>echo<CR>

let g:skip_defaults_vim = 1

"set list
"set listchars=tab:\ \ ,trail:.
"set nocompatible                                     " vim not vi
"filetype off




""#PROBLEMATIC AREA can be found in _archive/vim role

""set nocompatible                                     " vim not vi
""filetype off
""
"""### PLUGIN INSTALL/UNINSTALL ###
""set rtp+=~/.vim/bundle/Vundle.vim
""call vundle#begin()
""Plugin 'VundleVim/Vundle.vim'                       " Plugin manager
"""#Plugin 'xoria256.vim'                               " Color scheme
""Plugin 'airblade/vim-gitgutter'                     " Show git changes (+,-,!) in the left gutter
""Plugin 'ctrlpvim/ctrlp.vim'                         " File search via ctrl+p
""Plugin 'dkprice/vim-easygrep'                       " Search regexp, words, characters in files
""Plugin 'tpope/vim-fugitive'
""Plugin 'tpope/vim-git'
""Plugin 'scrooloose/nerdtree'
""Plugin 'vim-airline'
""Plugin 'SearchComplete'
""call vundle#end()
"""### END PLUGIN INSTALL/UNINSTALL ###
""
""filetype plugin indent on                           " auto-detect file types
""set shell=/bin/bash                       " shell for :sh command
""set pastetoggle=<F2>                                " toggle paste mode in insert mode
""set showcmd                                         " show commands
""set showmode                                        " show current mode
""set ruler                                           " show cursor position
""set bs=indent,eol,start                             " allow backspace in insert mode
""set history=10000                                   " command history size
""set shiftwidth=2                                    " indent width
""set expandtab                                       " insert spaces instead of tabs
""set tabstop=2
""set ignorecase
""nnoremap <C-a> ggmqvG"+y'q                          " ctrl+a = select all text
""nnoremap <F3> :NERDTree<CR>
""noremap <C-o> :sh<CR>
""set nu                                              " line numbering
""nmap <C-N><C-N> :set invnumber<CR>                  " ctrl+nn = toggle line numbering
""set mouse=a                                         " enable mouse support
""set mousehide                                       " hide mouse cursor while typing
""set autoread                                        " detect external file changes
""set nofoldenable                                    " disable code folding
""
""if has("autocmd")
""  " When editing a file, always jump to the last cursor position
""  autocmd BufReadPost *
""  \ if line("'\"") > 0 && line ("'\"") <= line("$") |
""  \   exe "normal! g'\"" |
""  \ endif
""endif
""
""set ai
""
""" status line
""if has('statusline')
""  set laststatus=2
""endif
""
"""### CURSORLINE SETTINGS ###
""set cursorline
""hi cursorline cterm=NONE ctermbg=8 ctermfg=15
"""### END CURSORLINE SETTINGS ###
""
"""### HIGHLIGHT EXTRA WHITESPACE ###
""set list
""set listchars=tab:\ \ ,trail:.
""autocmd ColorScheme * highlight ExtraWhitespace ctermfg=red
"""autocmd BufWinEnter * match ExtraWhitespace /\s\+$/
""autocmd InsertEnter * match ExtraWhitespace /\s\+\%#\@<!$/
""autocmd InsertLeave * match ExtraWhitespace /\s\+$/
""autocmd BufWinLeave * call clearmatches()
"""### HIGHLIGHT EXTRA WHITESPACE ###
""
"""### COLOR SCHEME SETTINGS ###
""set background=dark                                 " dark background
"""#colorscheme xoria256                                " specific color scheme
""if &t_Co > 2 || has("gui_running")                  " if terminal supports more than 2 colors or gui mode:
""  syntax on                                         " enable syntax highlighting
""  set hlsearch                                      " highlight search pattern
""  set t_Co=256                                      " set terminal to 256 colors
""endif
"""### END COLOR SCHEME SETTINGS ###
""
""" ### EASYGREP ###
""let g:EasyGrepRecursive = 1
""nnoremap <C-G> :Grep<SPACE>
""" ### END ###
